#include "winres.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "Inoworl"
            VALUE "FileDescription", "A dedicated application for processing PDFs generated when ordering system baths through the PU Order System. This application reads site information from the text within PDFs and renames the files based on this information. It also calculates the deadline for finalizing the shipping date based on the shipping information and records it within the PDF. Additionally, it performs other PDF manipulations to streamline workflow processes."
            VALUE "FileVersion", "3.0.0.0"
            VALUE "InternalName", "renamePdf"
            VALUE "LegalCopyright", "(C) 2022 Keisuke Shimizu"
            VALUE "OriginalFilename", "renamePdf.exe"
            VALUE "ProductName", "renamePdf"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "Language", "日本語 (日本)"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
